.env/
.vscode/
__pycache__/
__init__.py
.dart_tool/
.idea/
.lefthook/
enviroment_params.py
enviroment_params.py.swp
mobile-beauty-63628-d5b33ee8b1e9.json
.json
infra/*
deploy/*
app/pki/*
user-svc/app/pki
user-adapter-svc/app/pki
shop-svc/app/pki
product-svc/app/pki
file-svc/app/pki
base-svc/app/pki
app/app/assets